AccessControl==6.3
Acquisition==5.2
args==0.1.0
arrow==0.13.1
asgiref==3.7.0
asn1crypto==0.24.0
async-timeout==2.0.1
attrs==18.2.0
AuthEncoding==5.0
autobahn==19.2.1
Automat==0.7.0
Babel==2.6.0
beautifulsoup4==4.8.0
bootstrap4==0.1.0
BTrees==5.2
cairocffi==1.0.2
CairoSVG==2.3.0
certifi==2018.11.29
cffi==1.16.0
Chameleon==4.5.2
chardet==3.0.4
clint==0.5.1
constantly==15.1.0
crispy-bootstrap5==2024.2
cryptography==2.5
cssselect2==0.2.1
DateTime==5.4
defusedxml==0.5.0
dj-database-url==0.5.0
Django==5.0.2
django-admin-honeypot==1.1.0
django-allauth==0.38.0
django-appconf==1.0.2
django-bootstrap4==24.1
django-channels==0.7.0
django-ckeditor==5.6.1
django-compressor==2.2
django-crispy-forms==2.1
django-debug-toolbar==1.11
django-encrypted-model-fields==0.5.8
django-filter==2.1.0
django-haystack==2.8.1
django-hosts==3.0
django-js-asset==1.2.1
django-markdown==0.8.4
django-phonenumber-field==2.2.0
django-redis==4.10.0
django-request==1.5.4
django-softdelete==0.9.0
django-tables2==2.0.4
django-taggit==0.23.0
django-urlcrypt==0.1.6
django-weasyprint==0.5.4
django-widget-tweaks==1.4.3
djangorestframework==3.9.1
DocumentTemplate==4.6
easy-thumbnails==2.6
elasticsearch==6.3.1
ExtensionClass==5.1
googledrivedownloader==0.3
holidays==0.9.9
html5lib==1.0.1
hurry.filesize==0.9
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.1.0
MultiMapping==5.0
multipart==0.2.4
mysqlclient==2.2.4
numpy==1.26.4
oauthlib==3.0.1
pandas==2.2.1
PasteDeploy==3.1.0
Persistence==4.1
persistent==5.2
phonenumbers==8.10.5
phonenumberslite==8.8.8
pillow==10.2.0
pipenv==2018.11.26
pycparser==2.19
PyHamcrest==1.9.0
Pyphen==0.9.5
PySocks==1.6.8
pysolr==3.8.1
python-dateutil==2.8.2
python-decouple==3.1
python-gettext==5.0
python3-openid==3.1.0
pytube==9.4.0
pytz==2020.1
rcssmin==1.0.6
redis==3.1.0
reportlab==3.2.0
requests==2.21.0
requests-oauthlib==1.2.0
RestrictedPython==7.0
rjsmin==1.0.12
roman==4.1
serious-django-permissions==0.6
six==1.12.0
soupsieve==1.7.3
South==1.0.2
sqlparse==0.3.1
tinycss2==1.0.1
transaction==4.0
tweepy==3.7.0
txaio==18.8.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.24.1
virtualenv==16.0.0
virtualenv-clone==0.5.1
waitress==3.0.0
WeasyPrint==45
webencodings==0.5.1
WebOb==1.8.7
WebTest==3.0.0
wget==3.2
Whoosh==2.7.4
WSGIProxy2==0.5.1
z3c.pt==4.3
zc.lockfile==3.0.post1
ZConfig==4.0
zExceptions==5.0
ZODB==5.8.1
zodbpickle==3.2
Zope==5.9
zope.annotation==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.component==6.0
zope.configuration==5.0.1
zope.container==5.2
zope.contentprovider==5.0
zope.contenttype==5.1
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==5.0
zope.exceptions==5.0.1
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==6.0
zope.i18n==5.1
zope.i18nmessageid==6.1.0
zope.interface==6.2
zope.lifecycleevent==5.0
zope.location==5.0
zope.pagetemplate==5.1
zope.processlifetime==3.0
zope.proxy==5.2
zope.ptresource==5.0
zope.publisher==7.0
zope.schema==7.0.1
zope.security==6.2
zope.sequencesort==5.0
zope.site==5.0
zope.size==5.0
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testbrowser==5.3.2
zope.testing==5.0.1
zope.traversing==5.0
zope.viewlet==5.0